In [3]:
import pandas as pd
res=pd.read_excel("KaggelMostVotes.xlsx")

In [4]:
res

,Votes,Title,Sub-title,Uploader,Updated on,Version,Tags,FileType,FileSize,License,Kernels,Discussions,Views
0,2042,Credit Card Fraud Detection,Anonymized credit card transactions labeled as...,Machine Learning Group - ULB,6 months ago,3,"crime,finance",CSV,66 MB,ODbL,1000,35,614000.0
1,1371,European Soccer Database,"25k+ matches, players & teams attributes for E...",Hugo Mathien,2 years ago,10,"association football,europe",SQLite,34.4 MB,ODbL,1000,85,496000.0
2,1219,TMDB 5000 Movie Dataset,"Metadata on ~5,000 movies from TMDb",The Movie Database (TMDb),a year ago,2,film,CSV,9.3 MB,Other,1000,50,513000.0
3,979,Global Terrorism Database,"More than 180,000 terrorist attacks worldwide,...",START Consortium,18 days ago,3,"terrorism,crime,international relations",CSV,27.9 MB,Other,633,11,237000.0
4,912,Bitcoin Historical Data,Bitcoin data at 1-min intervals from select ex...,Zielak,3 months ago,14,"finance,history",CSV,148.3 MB,CC4,85,22,224000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1955,6,Dogs & Cats Images,image classification,chetanimravan,5 months ago,1,No Tags,Other,216.2 MB,CC0,4,0,509.0
1956,6,NPPES Plan and Provider Enumeration System,The CMS National Plan and Provider Enumeration...,Centers for Medicare & Medicaid Services,1 months ago,1,"government,medicine,healthcare",BigQuery,15.2 GB,CC0,1,0,1000.0
1957,6,Horse Racing Dataset for Experts (Hong Kong),A comprehensive dataset for horse racing in Ho...,HorseBaby,4 months ago,3,"horse racing,sports,ranking,classification",CSV,8 MB,CC4,2,1,12000.0
1958,6,Metrics for Kiva,A look into regional economic measures & demog...,Rituparna,5 months ago,5,"demographics,economics,finance",Other,1.3 MB,CC0,1,0,1000.0
1959,6,30000+ healthcare jobs from eMedCareers (Europe),This dataset contains 30000 latest job posting...,JobsPikr,5 months ago,1,"healthcare,europe",CSV,22.3 MB,CC4,1,0,1000.0

In [5]:
res.groupby(by="License").size()

License
0          3
1          2
2          3
3          1
5          1
7          1
9          3
30         1
CC0      816
CC3       19
CC4      294
GPL       27
ODbL     165
Other    624
dtype: int64

In [6]:
res.groupby(by="License")['Votes'].mean()

License
0        18.000000
1        13.000000
2        35.666667
3        11.000000
5        26.000000
7        72.000000
9        41.000000
30       60.000000
CC0      41.851716
CC3      33.947368
CC4      52.486395
GPL      25.740741
ODbL     66.593939
Other    42.538462
Name: Votes, dtype: float64

In [10]:
res.query("License=='CC3'")['Votes'].mean()

33.94736842105263

In [12]:
res.groupby(by="License").mean()

             Votes    Kernels   Discussions         Views
License
0        18.000000   0.333333   4666.666667           NaN
1        13.000000   0.000000   2000.000000           NaN
2        35.666667   1.333333  11333.333333           NaN
3        11.000000   2.000000   3000.000000           NaN
5        26.000000   1.000000   5000.000000           NaN
7        72.000000   2.000000  20000.000000           NaN
9        41.000000   1.666667  10333.333333           NaN
30       60.000000   6.000000  17000.000000           NaN
CC0      41.851716  29.877451      1.535539  10929.825980
CC3      33.947368  35.421053      0.789474   6736.842105
CC4      52.486395  40.309524      2.044218  14012.265306
GPL      25.740741   7.703704      1.222222   5990.444444
ODbL     66.593939  51.333333      2.478788  19441.763636
Other    42.538462  29.431090      1.653846  11892.070513

In [13]:
res.groupby(by="License")['Votes'].size()

License
0          3
1          2
2          3
3          1
5          1
7          1
9          3
30         1
CC0      816
CC3       19
CC4      294
GPL       27
ODbL     165
Other    624
Name: Votes, dtype: int64

In [14]:
res.groupby(by="License")['Votes'].count()

License
0          3
1          2
2          3
3          1
5          1
7          1
9          3
30         1
CC0      816
CC3       19
CC4      294
GPL       27
ODbL     165
Other    624
Name: Votes, dtype: int64

In [15]:
res.groupby(by="License")['Votes'].describe()

         count       mean         std   min   25%   50%   75%     max
License
0          3.0  18.000000   12.165525  10.0  11.0  12.0  22.0    32.0
1          2.0  13.000000    7.071068   8.0  10.5  13.0  15.5    18.0
2          3.0  35.666667   39.374272  10.0  13.0  16.0  48.5    81.0
3          1.0  11.000000         NaN  11.0  11.0  11.0  11.0    11.0
5          1.0  26.000000         NaN  26.0  26.0  26.0  26.0    26.0
7          1.0  72.000000         NaN  72.0  72.0  72.0  72.0    72.0
9          3.0  41.000000    8.888194  31.0  37.5  44.0  46.0    48.0
30         1.0  60.000000         NaN  60.0  60.0  60.0  60.0    60.0
CC0      816.0  41.851716   82.742894   6.0   9.0  16.0  33.0   767.0
CC3       19.0  33.947368   31.145668   6.0  15.5  23.0  40.5   133.0
CC4      294.0  52.486395  102.144037   6.0  10.0  19.0  43.0   912.0
GPL       27.0  25.740741   40.555368   6.0   8.0  12.0  26.0   212.0
ODbL     165.0  66.593939  201.132067   6.0  10.0  22.0  48.0  2042.0
Other    624.0  42.538462   88.815742   6.0   9.0  18.0  37.5  1219.0

In [16]:
res.groupby(by="License").agg({'Votes': lambda pop: pop.max() - pop.min()}).rename(columns={'Votes':'Lead'})

         Lead
License
0          22
1          10
2          71
3           0
5           0
7           0
9          17
30          0
CC0       761
CC3       127
CC4       906
GPL       206
ODbL     2036
Other    1213

In [18]:
res

,Votes,Title,Sub-title,Uploader,Updated on,Version,Tags,FileType,FileSize,License,Kernels,Discussions,Views
0,2042,Credit Card Fraud Detection,Anonymized credit card transactions labeled as...,Machine Learning Group - ULB,6 months ago,3,"crime,finance",CSV,66 MB,ODbL,1000,35,614000.0
1,1371,European Soccer Database,"25k+ matches, players & teams attributes for E...",Hugo Mathien,2 years ago,10,"association football,europe",SQLite,34.4 MB,ODbL,1000,85,496000.0
2,1219,TMDB 5000 Movie Dataset,"Metadata on ~5,000 movies from TMDb",The Movie Database (TMDb),a year ago,2,film,CSV,9.3 MB,Other,1000,50,513000.0
3,979,Global Terrorism Database,"More than 180,000 terrorist attacks worldwide,...",START Consortium,18 days ago,3,"terrorism,crime,international relations",CSV,27.9 MB,Other,633,11,237000.0
4,912,Bitcoin Historical Data,Bitcoin data at 1-min intervals from select ex...,Zielak,3 months ago,14,"finance,history",CSV,148.3 MB,CC4,85,22,224000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1955,6,Dogs & Cats Images,image classification,chetanimravan,5 months ago,1,No Tags,Other,216.2 MB,CC0,4,0,509.0
1956,6,NPPES Plan and Provider Enumeration System,The CMS National Plan and Provider Enumeration...,Centers for Medicare & Medicaid Services,1 months ago,1,"government,medicine,healthcare",BigQuery,15.2 GB,CC0,1,0,1000.0
1957,6,Horse Racing Dataset for Experts (Hong Kong),A comprehensive dataset for horse racing in Ho...,HorseBaby,4 months ago,3,"horse racing,sports,ranking,classification",CSV,8 MB,CC4,2,1,12000.0
1958,6,Metrics for Kiva,A look into regional economic measures & demog...,Rituparna,5 months ago,5,"demographics,economics,finance",Other,1.3 MB,CC0,1,0,1000.0
1959,6,30000+ healthcare jobs from eMedCareers (Europe),This dataset contains 30000 latest job posting...,JobsPikr,5 months ago,1,"healthcare,europe",CSV,22.3 MB,CC4,1,0,1000.0

In [21]:
res.groupby(by=["License","FileType"]).size()

License  FileType
0        251.1 MB      1
         49 MB         1
         55.8 MB       1
1        4.3 KB        1
         6.7 MB        1
2        50.7 MB       1
         565.5 MB      1
         892.1 KB      1
3        1.3 MB        1
5        1.1 MB        1
7        2.4 MB        1
9        1 MB          1
         187 KB        1
         884.1 KB      1
30       1.3 MB        1
CC0      BigQuery     38
         CSV         601
         Other       151
         SQLite        5
         {}JSON       21
CC3      CSV          12
         Other         7
CC4      BigQuery      4
         CSV         212
         Other        66
         SQLite        2
         {}JSON       10
GPL      CSV          19
         Other         8
ODbL     CSV         129
         Other        27
         SQLite        6
         {}JSON        3
Other    BigQuery      2
         CSV         459
         Other       136
         SQLite        8
         {}JSON       19
dtype: int64

In [23]:
res.groupby(by=["License","FileType"])["Votes"].sum()

License  FileType
0        251.1 MB       32
         49 MB          10
         55.8 MB        12
1        4.3 KB         18
         6.7 MB          8
2        50.7 MB        16
         565.5 MB       10
         892.1 KB       81
3        1.3 MB         11
5        1.1 MB         26
7        2.4 MB         72
9        1 MB           31
         187 KB         48
         884.1 KB       44
30       1.3 MB         60
CC0      BigQuery     1431
         CSV         26278
         Other        4293
         SQLite       1388
         {}JSON        761
CC3      CSV           449
         Other         196
CC4      BigQuery      182
         CSV         12553
         Other        2123
         SQLite        317
         {}JSON        256
GPL      CSV           608
         Other          87
ODbL     CSV          8409
         Other         936
         SQLite       1608
         {}JSON         35
Other    BigQuery      169
         CSV         19473
         Other        5365
         SQLite        871
         {}JSON        666
Name: Votes, dtype: int64

In [26]:
res.groupby(by="License").agg({"Votes":['count','mean','sum']})

        Votes
        count       mean    sum
License
0           3  18.000000     54
1           2  13.000000     26
2           3  35.666667    107
3           1  11.000000     11
5           1  26.000000     26
7           1  72.000000     72
9           3  41.000000    123
30          1  60.000000     60
CC0       816  41.851716  34151
CC3        19  33.947368    645
CC4       294  52.486395  15431
GPL        27  25.740741    695
ODbL      165  66.593939  10988
Other     624  42.538462  26544

In [28]:
res.groupby(by="License").agg({"Votes":['count','mean','sum']}).rename(columns={'count':'count_License','mean':'mean_License','sum':'sum_License'})

                Votes
        count_License mean_License sum_License
License
0                   3    18.000000          54
1                   2    13.000000          26
2                   3    35.666667         107
3                   1    11.000000          11
5                   1    26.000000          26
7                   1    72.000000          72
9                   3    41.000000         123
30                  1    60.000000          60
CC0               816    41.851716       34151
CC3                19    33.947368         645
CC4               294    52.486395       15431
GPL                27    25.740741         695
ODbL              165    66.593939       10988
Other             624    42.538462       26544

In [32]:
res.groupby(by=['License', 'Votes', 'FileType']).pipe(lambda group: group.Votes.sum()/group.FileType.sum()*100)

TypeError: unsupported operand type(s) for /: 'int' and 'str'

res.head()

In [34]:
res['License'].value_counts(ascending=True)

3          1
5          1
7          1
30         1
1          2
0          3
2          3
9          3
CC3       19
GPL       27
ODbL     165
CC4      294
Other    624
CC0      816
Name: License, dtype: int64

In [36]:
res['License'].value_counts(normalize=True)

CC0      0.416327
Other    0.318367
CC4      0.150000
ODbL     0.084184
GPL      0.013776
CC3      0.009694
0        0.001531
2        0.001531
9        0.001531
1        0.001020
3        0.000510
5        0.000510
7        0.000510
30       0.000510
Name: License, dtype: float64

In [37]:
res['License'].describe()

count     1960
unique      14
top        CC0
freq       816
Name: License, dtype: object

In [39]:
res['License'].value_counts()

CC0      816
Other    624
CC4      294
ODbL     165
GPL       27
CC3       19
0          3
2          3
9          3
1          2
3          1
5          1
7          1
30         1
Name: License, dtype: int64

In [40]:
res['Votes'].value_counts(bins=4)

(3.963, 515.0]      1943
(515.0, 1024.0]       14
(1024.0, 1533.0]       2
(1533.0, 2042.0]       1
Name: Votes, dtype: int64